#details {
    background-color: var(--accent1-color);
    color: rgb(223, 223, 223);
    width: 100%;
    flex-direction: row;
}

.det {
    text-align: center;
    width: 20%;
    border: 2px solid rgb(223, 223, 223);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.det > a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.det > a {
    color: rgb(223, 223, 223);
    display: flex;
    gap: 10px;
    
}

