#form {
    margin-top: 15px;
    border: none;
    background-color: rgb(40, 40, 40);
    padding: 20px 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
#form h1 {
    text-align: center;
}


input {
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

.loginButton {
    background-color: var(--accent1-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-weight: bold;
}

.loginContainer {
    text-align: center;
}

#form a {
    font-size: 12px;
    text-align: center;
    color: var(--accent1-color);
}

h3 {
    color: red;
    text-align: center;
}