body {
    font-family: Arial, sans-serif;
}

.timetable {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--accent1-color);
}

.changeSchedule {
    color: red;
}